/* Custom color theme properties */
:root {
  --f7-theme-color: #98a8d7;
  --f7-theme-color-rgb: 152, 168, 215;
  --f7-theme-color-shade: #7b8fcc;
  --f7-theme-color-tint: #b5c1e2;
}

/* Your app custom styles here */